body {
  background-color:  #f9fafb;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.about-container {
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 25px;
}

.small-title {
  color:#fbbf24;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.main-title {
  color: #363e58;
  margin-bottom: 40px;
}

.cards {
  display: flex;
  justify-content: center;

  gap: 15px;
  flex-wrap: wrap;
}

.card {
  flex: 1;
  background-color:  #f9fafb;
  height: 500px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s;
  border: 1px solid #363e58;

  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.card:hover {
  transform: translateY(-10px);
}

.card h3 {
  color: #ef4444;
  padding: 10px 0;
}

.card p {
  color: #374151;
  font-size: 14px;
  line-height: 22px;
}
.card a {
  margin-top: auto;
  text-decoration: none;
  color:  #fbbf24;
  font-weight: bold;
}

.card a:hover {
  color: #ef4444;
}

.image-wrapper {
  width: 300px;
  height: 300px;
  background-color: #ded9d6;
  border: 1px solid #363e58;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 6px;

  padding: 5px;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 20px;
}

.image-wrapper img {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
